#casestudies {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 1rem ;
}

.casetitle {
    margin:1rem 0 ;
    font-size: 3rem;
}
.caseDesc {
    font-weight: 300;
    font-size: 1rem;
}
.caseImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  max-width: 65rem;
}

.caseImg {
  object-fit: cover;
  height: 15rem;
  margin: 0.5rem;
  position: relative;
}




