#contactPage {
    min-height: calc(100vh - 10rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contactPageTitle {
    font-size: 3rem;
    margin-top: 0.5rem;
    font-weight: 200;
}
.clientDesc {
    font-weight: 200;
    font-size: 1rem;
    color: rgb(121, 120, 120);
}
.contactDesc{
    color: rgb(141, 139, 139);
}
.clientImgs{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}
.clientImg {
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin:auto;
    padding: 0.25rem;
}
#clients {
    padding: 2rem;
}
.clientImg {
    object-fit: cover;
    border-radius: 4px;
    animation: rainbowGlow 4s linear infinite; /* Apply the animation */
}

@keyframes rainbowGlow {
    0% {
        filter: hue-rotate(0deg); /* Start with no hue rotation */
    }
    100% {
        filter: hue-rotate(360deg); /* Rotate the hue to create a full rainbow effect */
    }
}

.clientImg:hover {
    cursor: pointer;
    transform: scale(1.15);
    box-shadow: 0 0 12px #00fffc;
}
.contactDesc {
    padding: 1rem;
    font-size:medium ;
    font-weight: 300;
}
.links {
    display: flex;
    flex-wrap: wrap;
}
.link {
    width: 30px;
    height: 30px;
    margin: 0 0.75rem;
    border-radius: 50%;
    overflow: hidden;
    animation: glowing-rainbow 2s linear infinite, gradientShift 5s linear infinite;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    background: linear-gradient(45deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #8B00FF);
    background-size: 200% 200%;
}

@keyframes glowing-rainbow {
    0% {
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}
.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgba(255, 248, 248, 0.2);
}
.submitBtn {
    background: white;
    border: none;
    padding:0.75rem  3.5rem;
    border-radius: 0.5rem;
    margin: 2rem;

}
.footer{
    width: 100vw;
    height: 4rem;
    background: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    color: rgb(125, 125, 125);
}



