.navbar {
    /* Your existing styles */
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top: 0;
   
    /* Faint gold glow effect */
    background: rgba(255, 223, 0, 0.2); /* Set a semi-transparent gold background */
    box-shadow: 0 0 10px 5px rgba(255, 223, 0, 0.5); /* Faint gold glow */
    animation: goldGlow 1s infinite alternate; /* Add animation */
}

@keyframes goldGlow {
    0% {
        box-shadow: 0 0 10px 5px rgba(255, 223, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(255, 223, 0, 0.9);
    }
}

/* Rest of your styles for logo, menu items, buttons, etc. */


.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}
.desktopMenuListItem{
    margin: 2rem;
    cursor:pointer;
    color:rgb(131, 131, 131);
}

.desktopMenuListItem:hover{
    color: rgb(218, 165, 32);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(218, 165, 32);
}
.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 2rem;
}
.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

@media screen and (max-width: 793px) {
    .desktopMenuListItem {
        font-size: 14px; /* Adjust the font size as needed */
        margin: 0 10px; /* Add spacing between items */
    }
}

.navMenu {
    position: absolute;
    top:4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;

}
.listItem{
    color: rgb(120, 119, 119);
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
    
}
.listItem:hover{
    color: rgb(218, 165, 32);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(218, 165, 32);
}
.mobMenu{
    display: none;
    object-fit: cover ;
    height: 1.8rem;
}
@media screen and (max-width:720px) {
   .mobMenu{
    display: flex;
   } 
   .desktopMenu{
    display: none;
   }
   .desktopMenuBtn{
    display: none;
   }
}
